
body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background-color:rgb(243, 243, 246);
  color:rgb(54, 53, 53);
  line-height: 1.8;
  flex-wrap: wrap;
}

header {
  background-color:rgb(25, 118, 210) ;
  color: white;
  padding: 32px 16px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

header h1 {
  margin: 0;
  font-size:40px;
  font-weight: 700;
  letter-spacing: 1px;
}

nav {
  margin-top: 16px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 16px;
  font-weight: 500;
}

section {
  max-width: 800px;
  margin: 32px auto;
  padding: 32px;
  background-color:white;
  border-left: 6px solid white;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.05);
}

h1, h2 {
  color:rgb(40, 40, 196);
  margin-top: 0;
  font-weight: 600;
}

p, li {
  font-size: 17px;
  color:davys grey;
}

ul {
  padding-left: 19px;
}

li {
  margin-bottom: 13px;
}

footer {
  background-color:blue;
  color: white;
  text-align: center;
  padding: 24px;;
  font-size: 15px;
  opacity: 0.95;
}
@media(max-width:800px){
  body{
    background-color:rgb(196, 196, 231);
    color:rgb(67, 67, 67)
  }
}