
body {
  font-family: 'Inter', 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background-color:whitesmoke;
  color:darkslategrey;
  line-height: 1.8;
  flex-wrap: wrap;
}

header, footer {
  background-color:rgb(250, 96, 121);
  color: white;
  text-align: center;
  padding: 32px 16px;
  }

header h1 {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1px;
}

footer p {
  margin: 0;
  font-size: 14px;
  opacity: 0.9;
}

section {
  max-width: 800px;
  margin: 32px auto; 
  padding: 32px;
  background-color: white;
  border-radius: 12px;
  
}

h2 {
  color: rgb(194,24,91) ;
  font-size: 28px;
  margin-top: 0;
  font-weight: 600;
}

p {
  font-size: 17px;
  color:rgb(86, 78, 78);
  margin-bottom:24px;
}

button {
  background-color:rgb(234, 44, 75) ;
  border: none;
  padding: 12.5px 25.6px;
  border-radius: 8px;
}

button:{
  background-color:rgb(194,24,91)  ;
}

button a {
  color: white;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.5px;
}
@media(max-width:800px){
  body{
    background-color: rgb(247, 220, 225);
    color:rgb(67, 67, 67)
  }
}